:root{
    --primary-color: #ffdd98;
    --secondary-color-1: #FFEE93;
    --secondary-color-2: #79ADDC;
    --secondary-color-3: #FFBFDD;
    --text-color-1: #FFBFDD;
    --text-color-2: red;
    --text-color-3: black;
    --text-color-4: white;
}