*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffdd98;
}
.navbar{
    position: sticky;
    top:0;
}
#logo{
    width: 40px;
    height: 40px;
    margin-right: 42.5%;
    border-radius: 50%;
}
.titulo{
    font-size: 35px;
    background-color: black;
    color: aliceblue;
    padding: 5px;
    text-shadow: 0 0 10px rgb(132, 208, 255), 0 0 20px rgb(20, 92, 227);
}
nav ul {
    background-color: #79ADDC;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-flex;
    transition: 0.5s;
    object-fit: cover;
    border-radius: 3px;
}
nav a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    width: 150px;
}
nav li:hover {
    background-color: black;
    transform: scale(1.2);
}
.imgsec {
    margin-top: 30%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    object-fit: cover;
}
.imgsec:hover {
    transform: scale(1.2);
}
.imgsec2{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.contenedor {
    display: flex;
    margin: 60px;
}
.articulos{
    width: 80%;
    border-right: 3px solid black;
}
.secciones{
    display: flex;
    align-items: center;
    padding: 40px;
}
.SegundaParte{
    width: 20%;
    margin-top: 50px;
    align-items: center;
    padding: 60px;
}
#Boton{
    background-color: transparent;
    font-weight: bold;
    color: red;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: 2px solid #79ADDC;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .5rem .5rem 1rem #FFBFDD,
        -.5rem -.5rem 1rem #79ADDC;
    margin-left: 25%;
    margin-top: 20px;
    text-transform: uppercase;
}
#Boton:hover{
    box-shadow: .5rem .5rem 1rem #79ADDC,
        -.5rem -.5rem 1rem #FFBFDD;
}
#Boton:active{
    box-shadow:inset .2rem .2rem 1rem #79ADDC,
        inset -.2rem -.2rem 1rem #FFBFDD;
}
.fnd1{
    background-image: url('./Imagenes/cake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
.fnd2{
    background-image: url('./Imagenes/gall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
.fnd3{
    background-image: url('./Imagenes/pann.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
.cc2{
    margin-left: 70%;
    margin-right: 10%;
}
.cc{
    color: red;
}
footer {
    width: 100%;
    height: 350px;
    background-color: black;
    color: antiquewhite;
    margin-top: 40px;
}
footer p {
    text-align: center;
    padding: 40px;
}
.heroe {
	background: #000;
	height: 100vh;
    width: 100%;
	display: flex;
	align-items: center;
	transition: 0.5s;
}
.heroe:hover{
	transform: scale(1.2);
}
.texto {
	width: 100%;
	color: transparent;
	text-align: center;
	text-transform: uppercase;
	font-size: 300px;
	font-weight: bold;

	background-image: url('./Imagenes/1844.jpg');
	background-size: cover;
	background-position-y: 700px;
	
	background-clip: text;
	-webkit-background-clip: text;

	-webkit-text-fill-color: transparent;
}
.fondo{
    background: url('./Imagenes/local.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fondo2{
    background: url('./Imagenes/1844.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.articleContainer{
    height: 100vh;
    width: 100%;
}
.textContainer {
    color: whitesmoke;
    font-size: 10vw;
    font-weight: bold;
    width: 96%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2%;
}
.textContent {
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.textImageBackground {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.dd{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
#mrgtext{
    background-color: #ffdd98;
    margin-left: 10%;
    margin-right: 12%;
}
.tmmrg{
    height: 32vh;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif
}
.textCuadro{
    font-size: 12vw;
    font-weight: bold;
    width: 96%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2%;
    background-color: transparent;
}
.faceicon{
    margin-left: 36%;
    width: 90px;
    height: 90px;
    background-color: #ffdd98;
    border-radius: 50%;
    transition: 0.5s;
    object-fit: cover;
}
.faceicon:hover {
    transform: scale(1.2);
}
.instaicon{
    margin-left: 15%;
    width: 90px;
    height: 90px;
    background-color: #ffdd98;
    border-radius: 50%;
    transition: 0.5s;
    object-fit: cover;
}
.instaicon:hover {
    transform: scale(1.2);
}
.Ubi{
    margin-left: 18%;
    background: none;
    text-align: center;
    color: #79ADDC;
}
.Ubip{
    margin-left: 18%;
    font-size: 12px;
}
.Ub{
    margin-left: 30%;
    font-size: 30px;
    color:coral;
    font-family: 'Times New Roman', Times, serif;
}