html{
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.articleContainer{
    height: 100vh;
    width: 100%;
    background-color: #FFBFDD;
}
.fondo1{
    background: url('./assest/CopoNieve.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fondo2{
    background: url('./assest/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fondo3{
    background: url('./assest/SJNAKXa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fondo4{
    background: url('./assest/Mexicanoo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.textCub{
    width: 100%;
    background-color: #79ADDC;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.fondo5{
    background: url('./assest/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fondo6{
    background: url('./assest/CopoNieve.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fondo7{
    background: url('./assest/Pinoo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fondo8{
    background: url('./assest/Santa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fondo9{
    background: url('./assest/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fondo10{
    background: url('./assest/boda.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fondo11{
    background: url('./assest/Antifazz.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fondo12{
    background: url('./assest/LLLLL.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fondo13{
    background: url('./assest/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.textContainer{
    color: white;
    font-size: 12vw;
    font-weight: bold;
    width: 96%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2%;

}
.textContent{
    width: 100%;
    text-align: center;
    color: #79ADDC;
}
.TextoT{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.textC{
    width: 100%;
    text-align: center;
    text-shadow: 0 0 10px #79ADDC, 0 0 20px #79ADDC;
}
.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #ffdd98;
}
.Izquierda{
    background-color: #79ADDC;
    height: 100vh;
    width: 60%;
}
.Derecha{
    background: url(GPers.jpg);
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 100vh;
}
.Titulo{
    color: white;
    text-align: center;
}
#P-D{
    display: flex;
}
h1{
    margin: 20%;
    font-size: 55px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
}
p{
    font-size: 25px;
    line-height: 30px;
    width: 80%;
    margin-left: 10%;
    text-align: justify;
}
a{
    border: 3px solid #033f74;
    padding: 20px;
    color: #00325e;
    border-radius: 40px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}
.Contactanos{
    text-align: center;
}
