html{
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.articleContainer{
    height: 100vh;
    width: 100%;
    background-color: darkslateblue;
}
.fondo1{
    background: url('./assest/840_560.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fondo2{
    background: url('./assest/shrek-donkey-puss-cartoon-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fondo3{
    background: url('./assest/Soy-Leyenda.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fondo4{
    background: url('./assest/34655.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.textContainer {
    color: whitesmoke;
    font-size: 12vw;
    font-weight: bold;
    width: 96%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2%;
}
.textContent {
    width: 100%;
    text-align: center;
}
.textImageBackground {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}